<footer class="bg-dark text-white">
  <div class="container py-4">
    <div class="row py-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">Обслуживание клиентов</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="#">Помощь и контакт с нами</a></li>
          <li><a class="footer-link" href="#">Возвраты и возврат денег</a></li>
          <li><a class="footer-link" href="#">Интернет-магазины</a></li>
          <li><a class="footer-link" href="#">Условия и положения</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">Компания</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="#">Чем мы занимаемся</a></li>
          <li><a class="footer-link" href="#">Доступные услуги</a></li>
          <li><a class="footer-link" href="#">Последние посты</a></li>
          <li><a class="footer-link" href="#">Часто задаваемые вопросы</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-uppercase mb-3">Социальные сети</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="#">Twitter</a></li>
          <li><a class="footer-link" href="#">Instagram</a></li>
          <li><a class="footer-link" href="#">ВКонтакте</a></li>
          <li><a class="footer-link" href="#">Pinterest</a></li>
        </ul>
      </div>
    </div>
    <div class="border-top pt-4" style="border-color: #1d1d1d !important">
      <div class="row">
        <div class="col-lg-6">
          <p class="small text-muted mb-0">&copy; 2025.</p>
        </div>
        <div class="col-lg-6 text-lg-right">
          <p class="small text-muted mb-0">Сайт разработан <a class="text-white reset-anchor" href="https://t.me/+o_h8y8vpPY82ZWNi" target="_blank">Taukelev Alibek</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
